:root {
    --item-height: 400px;
    --color-blue: #2C62A5;
    --color-grey: #A0A0A0;
	--color-light-grey: #E4E6E5;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
	font-size: 12px;
}

body {
	margin: 15px;
}
